@font-face {
  font-family: 'Romance Logic';
  src: url(fonts/RomanceLogic.ttf) format('truetype');
}

@font-face {
  font-family: 'Notulen';
  src: url(fonts/notulenserif.otf) format('truetype');
}

@font-face {
  font-family: 'Forzan';
  src: url(fonts/ForzanLight-ALWAA.ttf) format('truetype');
}

@font-face {
  font-family: 'Glorify';
  src: url(fonts/Glorifydemo-BW3J3.otf) format('truetype');
}

body {
  background-color: black;
  color: white;
  letter-spacing: 0.5px;
  font-family: Glorify;
  font-weight: bold;
  font-size: 22px;
}

h1 {
  font-family: Romance Logic;
  font-weight: bold;
}
h2 {
  font-family: Romance Logic;
}

nav {
  position: fixed;
  background-color: rgb(70, 70, 70);
  width: 100%;
  top: 0px;
  left: 0px;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  justify-content: end;
  margin-bottom: 0;
  margin-right: 20px;
}

.nav-list {
  display: inline-block;
}

.nav-link {
  padding: 20px;
  margin: 0px;
  text-decoration: none;
  color: white;
  font-family: Notulen;
  font-size: 2em;
}
.nav-link:hover {
  background-color: rgb(223, 223, 223);
  color: black;
}

#top {
  margin-top: 250px;
}

#about-header {
  text-align: end;
  padding-right: 100px;
  font-size: 70px;
}

#about-secondary-header {
  text-align: end;
  padding-right: 100px;
  font-size: 40px;
}

.section1 {
  margin: 20px;
}
img {
  max-width: 100%;
}

/* #about {
  background-color: rgb(92, 90, 90);
} */

.about-me {
  display: inline-block;
}

#contact-header {
  font-size: 60px;
}

.section4 {
  max-width: 400px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  border-style: double;
  padding: 15px;
  background-color: rgb(70, 70, 70);
}

.btn {
  background-color: white;
  color: black;
}

.btn:hover {
  background-color: black;
  color: white;
}

.list {
  display: inline-block;
}

.link {
  padding: 20px;
  margin: 0px;
  text-decoration: none;
  color: white;
  font-family: Notulen;
  font-size: 2em;
}

.link:hover {
  background-color: white;
  color: black;
}

@media (max-width: 566px) {
  #top {
    margin-top: 250px;
  }

  .nav-link {
    font-size: 35px;
  }
}

@media (max-width: 477px) {
  #top {
    margin-top: 250px;
  }

  .nav-link {
    font-size: 30px;
  }
}

@media (max-width: 429px) {
  #top {
    margin-top: 300px;
  }
}

@media (max-width: 282px) {
  #top {
    margin-top: 450px;
  }
}
