@font-face {
  font-family: 'Romance Logic';
  src: url(fonts/RomanceLogic.ttf) format('truetype');
}

@font-face {
  font-family: 'Notulen';
  src: url(fonts/notulenserif.otf) format('truetype');
}

@font-face {
  font-family: 'Forzan';
  src: url(fonts/ForzanLight-ALWAA.ttf) format('truetype');
}

@font-face {
  font-family: 'Glorify';
  src: url(fonts/Glorifydemo-BW3J3.otf) format('truetype');
}

body {
  background-color: black;
  color: white;
  letter-spacing: 0.5px;
  font-family: Glorify;
  font-weight: bold;
  font-size: 22px;
}

h1 {
  font-family: Romance Logic;
  font-weight: bold;
}
h2 {
  font-family: Romance Logic;
}

nav {
  position: fixed;
  background-color: rgb(70, 70, 70);
  width: 100%;
  top: 0px;
  left: 0px;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  justify-content: end;
  margin-bottom: 0;
  margin-right: 20px;
}

.nav-list {
  display: inline-block;
}

.nav-link {
  padding: 20px;
  margin: 0px;
  text-decoration: none;
  color: white;
  font-family: Notulen;
  font-size: 1.5em;
}
.nav-link:hover {
  background-color: rgb(223, 223, 223);
  color: black;
}

#top {
  margin-top: 300px;
}

#about-header {
  text-align: center;

  font-size: 70px;
}

#about-secondary-header {
  text-align: center;

  font-size: 40px;
}

.section1 {
  padding: 10px;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

#about {
  text-align: center;
}

.section2 {
  padding: 10px;
  text-align: center;
  margin-top: 100px;
}

.section2 a {
  /* text-decoration: none; */
  /* background-color: rgb(70, 70, 70); */
  color: white;
  padding: 5px;
}

.section2 a:hover {
  background-color: rgb(223, 223, 223);
  color: black;
}

li {
  list-style-type: none;
}

#project-item3 {
  padding-bottom: 30px;
}

.section3 {
  padding: 10px;
  margin-top: 100px;
}

#education {
  padding-top: 50px;
  text-align: center;
}

.projects {
  padding-top: 40px;
}

#list-item1 {
  padding-bottom: 20px;
}
#list-item2 {
  padding-bottom: 30px;
}

#contact-header {
  font-size: 60px;
}

.section4 {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 60px;
  border-style: double;
  padding: 15px;
  background-color: rgb(70, 70, 70);
}

.btn {
  background-color: white;
  color: black;
}

.btn:hover {
  background-color: black;
  color: white;
}

ul {
  padding-left: 0;
}

.list {
  display: inline-block;
}

.link {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-family: Notulen;
  font-size: 2em;
}

.link:hover {
  background-color: rgb(223, 223, 223);
  color: black;
}

.find-me {
  text-align: center;
  padding-bottom: 20px;
}

.section5 {
  text-align: center;
}

.light-theme {
  padding-bottom: 30px;
}

@media (min-width: 1200px) {
  #top {
    margin-top: 200px;
  }

  .nav-link {
    font-size: 2em;
  }

  #about-header {
    text-align: end;
    padding-right: 100px;
    font-size: 70px;
  }

  #about-secondary-header {
    text-align: end;
    padding-right: 100px;
    font-size: 40px;
  }

  .section1 {
    padding: 50px;
  }

  .image-me {
    display: flex;
    align-items: center;
  }

  #about {
    display: flex;
    text-align: end;
    align-items: center;
  }

  .section2 {
    text-align: start;
    padding: 50px;
    display: flex;
  }
  .section2 #sky {
    display: flex;
    align-items: center;
    order: 2;
  }
  .section2 #project-text {
    order: 1;
    align-items: center;
  }

  .section3 {
    padding: 50px;
  }

  .section3 #tree {
    display: flex;
    align-items: center;
  }

  #education {
    text-align: end;
  }

  .find-me {
    text-align: left;
    padding-left: 120px;
  }
  .section5 {
    text-align: left;
    margin-left: 20px;
  }

  .light-theme {
    text-align: end;
    padding-right: 30px;
  }
}
